body{
  background-color: lightblue;
}
h1,h2{
  color: #ab22cc;
  text-align: center;
  font-family: 'Lobster',cursive;
}
p{
  font-family: 'Caveat',cursive;
  font-size: 20px;
  padding: 10px 30px;
}
div{
   display: inline-block;
}
.one-third{
  width:33%;
}
img{
  max-width: 100%;
}